body {
  /* font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif; */
  /* font-family: f-u, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; */
  font-size: 10px;
  letter-spacing: .05em;
  color: #333;
  font-family: "sofia-pro", "sans-serif";
  font-family: "sofia-pro", "A1 Gothic R", "Yu Gothic", "YuGothic", "Roboto", "Helvetica Neue", "Hiragino Kaku Gothic Pro", "Meiryo", "Arial", "sans-serif";
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}



.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}

/* .section:nth-of-type(odd) {
  background-color: #f7f7f7;
} */

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 10%;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  /* font-weight: bold; */
  line-height: 1;
  margin-bottom: 4rem;
  text-align: left;
  letter-spacing: .05em;
  width: 70%;
  /* color: #333; */
}

.title-sub {
  font-size: 1rem;
  padding-left: 13%;
  vertical-align: middle;

}

.viewmore {
  width: 25%;
  margin-bottom: 4rem;
}

.viewmore>a {
  color: #000;
  padding-left: 2rem;
  font-size: 1.6rem;
}

/*==================================================
　5-3-3 左から右に線が伸びる（下部）
===================================*/
.viewmore a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}

.viewmore a:hover {
  color: #333;
}

.viewmore a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: -10px;
  left: 10%;
  /*線の形状*/
  width: 150%;
  height: 1px;
  background: #333;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}

/*現在地とhoverの設定*/
.viewmore a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}

.header-logo a {
  color: #333;
}

.gnav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #333;
}

.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

.gnav-item:nth-of-type(3) a {
  position: relative;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
  color: #56A5BE;
}

.gnav-item:nth-of-type(3) a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #AED8E6;
}

.gnav-item a:hover:after {
  width: 100%;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/

/* .mv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
}

.mv-container {
  position: relative;
  padding: 0 20px;
}

.mv-container img {
  width: 100%;
  height: auto;
} */
.mv {
  margin-right: 6rem;
}

.mv-text {
  text-align: right;
  line-height: 1.5;
}

.mv-text-title {
  font-size: 3.5rem;
}

.mv-text-subtitle {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.mv-img {
  /* height: 60%; */
  object-fit: cover;
}

.mv-img img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}


/*--------------------------------
 About
---------------------------------*/
.about {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.profile-img {
  width: 30%;
  margin-right: 3rem;
}


.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Works
---------------------------------*/
.works-category {
  width: 100%;
  margin: 0 0 4rem 0;
  position: relative;
}

.works-category-title {
  font-size: 1.8rem;
  position: absolute;
  padding-left: 5rem;
  top: -1.5rem;
}

.works-category-item {
  background-color: #F1F1F1;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.works-category-item span {
  font-size: 1.4rem;
  background-color: #fff;
  padding: 0.2rem 1.6rem;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 48%;
  margin-right: 0;
  margin-bottom: 2rem;
}

.works-item {
  width: 31.74603%;
  margin-right: 1.58730%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
}

.works-info {
  font-size: 1rem;
}

.works-name {
  font-size: 1.4rem;
  margin-top: 8px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  width: 5.5rem;
  height: auto;
  margin-right: 20px;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.4rem;
}

.skill-text {
  font-size: 0.8rem;
  line-height: 1.8;
}


/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  /* background-color: #4c4c4c; */
  background-color: #333;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #F1F1F1;
}

.footer-container {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 3rem auto;
}

.copyright {
  border-top: 1px solid #8E8E8E;
  font-size: 10px;
  text-align: left;
  color: #000;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.content-title {
  text-align: left;
  margin: 2rem 4rem;
  display: flex;
}

.content-title span:nth-of-type(1) {
  font-size: 6rem;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
    -1px 1px 0 #000, 1px -1px 0 #000,
    0px 1px 0 #000, 0-1px 0 #000,
    -1px 0 0 #000, 1px 0 0 #000;
}

.content-title span:nth-of-type(2) {
  font-size: 2rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.works-category-item span>a {
  color: #000;
}

/* .content-title {
  font-size: 2rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
} */


/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
}

.article-container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10%;
}

.article-title {
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 1px solid #000;
  margin-bottom: 5rem;
}

.article-title>h2 {
  font-size: 2rem;
  font-weight: normal;
}

.article-title>p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.article-body {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

.design-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.design-img img:nth-of-type(1) {
  width: 60%;
  height: auto;
}

.design-img img:nth-of-type(2) {
  width: 30%;
  height: auto;

}

/*--------------------------------
 aboutページ
---------------------------------*/

/*========= バー表示のためのCSS ===============*/

/*タイムライン全体の設定*/
.timeline {
  max-width: 1920px;
  width: 100%;
  padding: 0 30px;
}

.timeline li {
  /*線の起点とするためrelativeを設定*/
  position: relative;
  list-style: none;
  padding: 0 0 20px 0;
}

.timeline dl {
  margin: 0 0 4rem 3em;
  font-size: 1rem;
  color: #56A5BE;
}

.timeline dd {
  font-size: 1.2rem;
  color: #000;
}

.timeline dd strong {
  display: block;
  padding: 10px 0;
}

/*絶対配置で線を設定*/
.border-line {
  /*線の位置*/
  position: absolute;
  left: 0.2em;
  top: 0;
  width: 5px;
  /*線の太さ*/
  height: 0;
  /*はじめは高さを0に*/
  background: #56A5BE;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after {
  content: '';
  position: absolute;
  top: 0;
  left: -0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #56A5BE;
  border-radius: 50%;
}

/*====== 9-1-1 縦線が動いてスクロールを促す =======*/

/*スクロールダウン全体の場所*/
.scrolldown1 {
  position: absolute;
  right: 2rem;
  bottom: -1rem;
  height: 5rem;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 10px;
  left: -7px;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #000;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }

  30% {
    height: 30px;
    opacity: 1;
  }

  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}



/*media Queries 1366
----------------------------------------------------*/
@media screen and (max-width: 1366px) {
  .mv-img img {
    height: 25rem;
  }

}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 2.6rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .title-sub {
    font-size: 1.2rem;
    padding-left: 5%;

  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;

  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    margin-right: 4rem;
  }

  .mv-text-title {
    font-size: 2rem;
  }

  .mv-text-subtitle {
    font-size: 1rem;
    margin: 0.8rem 0;
  }

  .title {
    font-size: 2.4rem;
  }

  .title-sub {
    font-size: 0.8rem;
  }

  .viewmore {
    margin-top: 1rem;
  }

  .viewmore>a {
    font-size: 0.8rem;
  }

  /*スクロールダウン全体の場所*/
  .scrolldown1 {
    /*描画位置*/
    position: absolute;
    right: 10%;
    bottom: 15rem;
    /*全体の高さ*/
    height: 5rem;
  }

  /* .mv {
    height: 40vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }

  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    top: 75%;
    font-size: 14px;
    line-height: 1.7;
  } */

  /* Works */
  .works-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .works-info {
    margin-top: 1rem;
    font-size: 0.7rem;
  }

  .works-list {
    justify-content: space-between;
    display: block;
    padding: 0 10%;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
    /* display: contents; */
  }

  .works-category {
    padding: 0 10%;
  }

  .works-category-title {
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  .works-category-item {
    padding: 1.5rem;
    display: inline-block;
  }

  .works-category-item span {
    font-size: 1.4rem;
    padding: 0.1em 1.6rem;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .skill-text {
    font-size: 0.7rem;
    line-height: 1.5;
  }

  /* About */
  .profile {
    display: block;
  }

  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .content-title {
    text-align: left;
    margin: 0.8rem;
  }

  .content-title span:nth-of-type(1) {
    font-size: 4rem;
  }

  .content-title span:nth-of-type(2) {
    font-size: 1rem;
    align-items: center;
    margin-left: 1.5rem;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 1rem;
    text-align: center;
  }

  .timeline li::after {
    left: -0.2rem;
    width: 1rem;
    height: 1rem;
  }

  .timeline dl {
    font-size: 0.8rem;
  }

  .timeline dd {
    font-size: 1rem;
  }
}




/*==================
#loading
==================*/
/* 
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #999;
}

#loading_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.loading-one {
  display: inline-block;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.loading-one p.loading-txt {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.25em;
  line-height: 2.0;
  padding: 2em 0;
} */

/*==================
.animation_loading
==================*/

/* .animation_loading {
  animation: equalizer_loading 7000ms infinite;
  animation-iteration-count: 10;
}

@keyframes equalizer_loading {
  0% {
    width: 70%;
  }

  10% {
    width: 50%;
  }

  20% {
    width: 100%;
  }

  30% {
    width: 10%;
  }

  40% {
    width: 50%;
  }

  50% {
    width: 70%;
  }

  60% {
    width: 50%;
  }

  70% {
    width: 10%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 10%;
  }

  100% {
    width: 70%;
  }
} */